@plugin "daisyui";
@import "tailwindcss";

body {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("../src/assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

::-webkit-scrollbar-track {
  background: #00000041 !important; /* Dark background */
  border-radius: 10px !important;
}

::-webkit-scrollbar-thumb {
  background: #1818186f !important; /* Dark green */
  border-radius: 10px !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #66bb6a !important; /* Light green on hover */
}

/* components */
@layer components {
  .glassmorphism {
    @apply p-8 bg-white/5 rounded-2xl bg-clip-padding w-full backdrop:filter backdrop-blur-[10px];
  }
  .box {
    @apply flex flex-col items-center justify-center min-w-96 mx-auto;
  }
  .formButton {
    @apply px-6 py-3 w-full rounded-md bg-green-700 text-lg hover:bg-green-800 active:bg-green-800 cursor-pointer;
  }
  .formLink {
    @apply text-lg text-gray-500 hover:text-blue-500 active:text-blue-500 active:underline hover:underline;
  }
  .animate {
    @apply transition-all duration-300;
  }
  .textInput {
    @apply border-2 text-[16px] border-gray-800 focus:border-green-500 outline-none px-3 py-2 rounded-md;
  }
  .passwordInput {
    @apply border-2 text-[16px] border-gray-800 focus:border-green-500 outline-none px-3 py-2 rounded-md pr-11;
  }
  .passwordEye {
    @apply absolute text-2xl right-3 bottom-2 text-gray-500 hover:text-green-500 transition-all duration-300;
  }
}
